<h1>Welcome to the Nested Forms Lab!</h1>

<p>
<<<<<<< HEAD
  <a href="/new">let's navigate to the '/new'</a>
=======
  <a href="/new">Create New Pirate</a>
>>>>>>> 64ec5ddc9076165af0150060ddae4bb048d25960
</p>